<!--Training-->
<div id="tabstrip-trainings" 
     data-role="view"  
     data-title="Training" data-show="app.trainings.init">

    <h1>Pick a Program:</h1>
    <ul id="trainings-list">
        <li>
            <a href="#chd-view">Chest Heavy Day</a>
        </li>
        <li>
            <a href="#cld-view">Chest Light Day</a>
        </li>
        <li>
            <a href="#bhd-view">Back Heavy Day</a>
        </li>
        <li>
            <a href="#bld-view">Back Light Day</a>
        </li>
        <li>
            <a href="#ahd-view">Arms Heavy Day</a>
        </li>
        <li>
            <a href="#ald-view">Arms Light Day</a>
        </li>
        <li>
            <a href="#lhd-view">Legs Heavy Day</a>
        </li>
        <li>
            <a href="#lld-view">Legs Light Day</a>
        </li>
        <li>
            <a href="#"></a>
        </li>
    </ul>
</div>

<div id="chd-view" 
     data-role="view"  
     data-title="Chest Heavy Day">

    <ul id="exercise-table">

        <li>Incline Dumbbell Press 4 sets x 6-8 reps</li>
        <li>Flat Bench Press 4 sets x 8-10 reps</li>
        <li>Chest Dips 3 sets x 10-12 reps</li>
        <li>Incline Flyes 3 sets x 12-15 reps</li>
        <li>High Pulley Cable Flyes 3 sets x 15-20 reps</li>
        <li>Dumbbell Pullovers 3 sets x 15-20 reps</li>
    </ul>
</div>
<div id="cld-view" 
     data-role="view"  
     data-title="Chest Light Day">

    <ul id="cld-table">

        <li>Bench Press 3x 10</li>
        <li>Incline Bench Press 3x 10</li>
        <li>Cross Over 3x 15</li>

    </ul>
</div>
<div id="bhd-view" 
     data-role="view"  
     data-title="Back Heavy Day">

    <ul id="bhd-table">

        <li>Bent-Arm Dumbbell Pullover
            1 set 8 reps</li>
        <li>Wide-Grip Lat Pulldown
            2 sets of 6, 8 reps</li>
        <li>One-Arm Dumbbell Row
            2 sets of 4, 3 reps</li>
        <li>Bent Over Two-Arm Long Bar Row
            3 sets of 10, 8, 6 reps</li>
    </ul>
</div>
<div id="bld-view" 
     data-role="view"  
     data-title="Back Light Day">

    <ul id="bld-table">

        <li>Straight Arm Pulldown 4 sets 8-12 reps</li>
        <li>Dumbell Shrugs 3 sets till failure</li>

    </ul>
</div>
<div id="ald-view" 
     data-role="view"  
     data-title="Arms Light Day">
    <ul id="ald-table">

        <li> Standing Dumbbell Reverse Curl
            3 sets X 6-8 reps</li>
        <li> Reverse Grip Triceps Pushdown
            3 sets X 6-8 reps</li>
        <li> Triceps Pushdown
            3 sets X 6-8 reps</li>
    </ul>

</div>
<div id="ahd-view" 
     data-role="view"  
     data-title="Arms Heavy Day">

    <ul id="ahd-table">

        <li> Standing Dumbbell Reverse Curl
            3 sets X 6-8 reps</li>
        <li> Hammer Curls
            3 sets X 6-8 reps</li>
        <li> EZ-Bar Curl
            3 sets X 6-8 reps</li>
        <li> Reverse Grip Triceps Pushdown
            3 sets X 6-8 reps</li>
        <li> Triceps Pushdown - Rope Attachment
            3 sets X 6-8 reps</li>
        <li> Triceps Pushdown
            3 sets X 6-8 reps</li>
    </ul>
</div>
<div id="lhd-view" 
     data-role="view"  
     data-title="Legs Heavy Day">

    <ul id="lhd-table">

        <li>Leg curls 3x 10</li>
        <li>Leg extentions 3x 10</li>
        <li>Dead lifts 3x 15</li>
        <li>Calf raises 3x 15</li>
    </ul>
</div>
<div id="lld-view" 
     data-role="view"  
     data-title="Arms Heavy Day">

    <ul id="lld-table">

        <li>Leg curls 3x 10</li>
        <li>Leg extentions 3x 10</li>
        <li>Dead lifts 3x 15</li>
    </ul>
</div>