<!--Training-->
        <div id="tabstrip-trainings" 
             data-role="view"  
             data-title="Training" data-show="app.trainings.init">

            <h1>For training usage</h1>
            <ul id="trainings-list">
                <li>
                    <a href="#chd-view">Chest Heavy Day</a>
                </li>
                <li>
                    <a href="#cld-view">Chest Light Day</a>
                </li>
                <li>
                    <a href="#bhd-view">Back Heavy Day</a>
                </li>
                <li>
                    <a href="#bld-view">Back Light Day</a>
                </li>
                <li>
                    <a href="#ahd-view">Arms Heavy Day</a>
                </li>
                <li>
                    <a href="#ald-view">Arms Light Day</a>
                </li>
                <li>
                    <a href="#lhd-view">Legs Heavy Day</a>
                </li>
                <li>
                    <a href="#lld-view">Legs Light Day</a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
            </ul>
        </div>

<div id="chd-view" 
             data-role="view"  
             data-title="Chest Heavy Day">

            <table id="exercise-table">
                <tr>
                    <th>Exercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                </tr>
                <tr>
                    <td>Bench Press</td>
                    <td>4</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
<div id="cld-view" 
             data-role="view"  
             data-title="Chest Light Day">

            <table id="exercise-table">
                <tr>
                    <th>Exercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                </tr>
                <tr>
                    <td>Bench Press</td>
                    <td>4</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
<div id="bhd-view" 
             data-role="view"  
             data-title="Back Heavy Day">

            <table id="exercise-table">
                <tr>
                    <th>Exercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                </tr>
                <tr>
                    <td>Bench Press</td>
                    <td>4</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
<div id="bld-view" 
             data-role="view"  
             data-title="Back Light Day">

            <table id="exercise-table">
                <tr>
                    <th>Exercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                </tr>
                <tr>
                    <td>Bench Press</td>
                    <td>4</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
<div id="ald-view" 
             data-role="view"  
             data-title="Arms Light Day">

            <table id="exercise-table">
                <tr>
                    <th>Exercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                </tr>
                <tr>
                    <td>Bench Press</td>
                    <td>4</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
<div id="ahd-view" 
             data-role="view"  
             data-title="Arms Heavy Day">

            <table id="exercise-table">
                <tr>
                    <th>Exercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                </tr>
                <tr>
                    <td>Bench Press</td>
                    <td>4</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
<div id="lhd-view" 
             data-role="view"  
             data-title="Legs Heavy Day">

            <table id="exercise-table">
                <tr>
                    <th>Exercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                </tr>
                <tr>
                    <td>Bench Press</td>
                    <td>4</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
<div id="lld-view" 
             data-role="view"  
             data-title="Arms Heavy Day">

            <table id="exercise-table">
                <tr>
                    <th>Exercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                </tr>
                <tr>
                    <td>Bench Press</td>
                    <td>4</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>